@font-face {
    font-family: Roboto;
    src: url("../../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto500;
    src: url("../../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto700;
    src: url("../../fonts/Roboto-Bold.ttf");
}